/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
}
body{
    background-color:#E6E3F2;
}
/*header/nav styling*/
header{
    text-align:center;
    margin-top: 5%;
}
header h1{
    font-size: 4rem;
}
header nav a {
    text-decoration: none;
    background-color: #CDC7E6;
    color: black;
    border: 1px solid black;
    padding: .5%;
    transition: .5s;
}
header nav a:hover{
    background-color: #9392C9;
    color: white;
}
header nav{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    gap: 0px;
}

/*intro styling*/
#intro h2{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}
#intro p {
    line-height:1.2;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
}

/*big mid img styling*/
section.midImg {
    padding-top: 2%;
}

/*project images styling*/
.projects{
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}
.text {
    width: 15%;
    align-content: center;
    text-align: center;
    margin-top: 5%;
    margin-right: 5%;
}
.img1, .img2, .img3, .img4{
    width: 20%;
    margin-left: 2%;
    margin-bottom: 2%;
}

/*footer styling*/
footer{
    width: 100%;
    background-color: #CDC7E6;
    text-align: center;
    padding: 2%;
} 
footer nav a{
    text-decoration: none;
    background-color:#CDC7E6;
    color: black;
    border: 1px solid black;
    padding: .5%;
    transition: .5s;
}
footer nav a:hover{
    background-color: #9392C9;
    color: white;
}
/*
footer button{
    background-color: #CDC7E6;
    font-size: 1.6rem;
    padding: 1%;
    transition: .5s;
    border-radius: 10px;
}
footer button a{
    text-decoration: none;
    color: black;
}
footer button:hover{
    background-color:#9392C9;
    color: white;
}
*/

/*tablet media styling*/

@media (max-width: 800px) {
    .projects {
        flex-wrap: wrap;
    }
    .projects .text{
        width: 100%;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
}

/*mobile media styling*/
@media (max-width: 500px) {
    .projects {
        flex-wrap: wrap;
    }
    .projects div{
        width: 40%;
    }
    .projects .text{
        margin-top: 4%;
    }
}